# config.toml
# Host side editable config file bind mounted to mcp-server-remote package config file inside server container.

# ---NOTE---
# Remove the .example from this files name prior to running the Docker Compose...

[server]
name = "Sandbox_1"
host = "0.0.0.0"

[auth]
token = "paste-here"

[tools]
# "unrestricted" allows MODEL full shell access to the remote box. "true" will enable bypassing [tools.commands] in the mcp server default tools allow list.
unrestricted = true # default is turned on for sandbox container setup. NEVER set to true on a real host...
